<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hey there !</h1>
    <p>Enter the meet code to join :</p>
    <input type="text" placeholder="Meet Code " id="inputId">
    <button type="button">Join</button>

    <p>Or Start a new meet</p>
    <a href="http://localhost:3030/createNew"> Create New</a>

    <script src="JoinMeet.js"></script>
</body>
</html>