body {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
  background: #fafafa;
  color: gray;
}
.navigation{
  display: flex;
  padding-top: 25px;
  padding-bottom: 10px;
  margin-right: 10px;
}
a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #866ec7;
}
a:hover,
a:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.custom-menu {
  display: inline-block;
  top: 20px;
  right: 0;
  margin-right: -10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (prefers-reduced-motion: reduce) {
  .custom-menu {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
.custom-menu .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.custom-menu .btn.btn-primary {
  background: #6749b9;
}
.custom-menu .btn.btn-primary:hover
 {
  background: #6749b9 !important;
  border-color: #3f3d44 !important;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}



.logo {
  text-align: center;
  margin-right: -25px;
}

.navbar {
  background-color: #C490E4;
  z-index: 1;
}



.nav-link {
  font-weight: bolder;
  font-size: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #031d44;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
  padding-bottom: 0.9rem;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #031d44;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 73%;
}

.scroll {
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  margin-left: auto; 
  margin-right: 0px;
}
.scroll::-webkit-scrollbar {
  display: none;
}



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.hero-img img{
height: 50%; 
margin-top: 75%;
}

@media(max-width:901px){
.hero-img{
  display: none;
}

}

#hero {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(0deg, #F6C6EA 0%, #C490E4 100%);
  padding: 0;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  height: 70vh;
  padding-top: 60px;
}

#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}

#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #C490E4;
}

#hero .btn-get-started:hover {
  background: #C490E4;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-width: 768px) {
  #hero .carousel-container {
    height: 70vh;
  }
  #hero h2 {
    font-size: 28px;
  }
}

.hero-waves {
  display: block;
  width: 100%;
  height: 60px;
  position: relative;
  color: #C490E4;
}

.wave1 use {
  -webkit-animation: move-forever1 10s linear infinite;
  animation: move-forever1 10s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  color: #C490E4;
}

.wave2 use {
  -webkit-animation: move-forever2 8s linear infinite;
  animation: move-forever2 8s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave3 use {
  -webkit-animation: move-forever3 6s linear infinite;
  animation: move-forever3 6s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

/*--------------------------------------------------------------
# End Hero Section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
padding: 60px 0;
overflow: hidden;
z-index: 0;
}

.section-title {
padding-bottom: 40px;
}

.section-title h2 {
font-size: 14px;
font-weight: 500;
padding: 0;
line-height: 1px;
margin: 0 0 5px 0;
letter-spacing: 2px;
text-transform: uppercase;
color: #aaaaaa;
font-family: "Poppins", sans-serif;
}

.section-title h2::after {
content: "";
width: 120px;
height: 1px;
display: inline-block;
background: #C490E4;
margin: 4px 10px;
}

.section-title p {
margin: 0;
margin: 0;
font-size: 36px;
font-weight: 700;
text-transform: uppercase;
font-family: "Poppins", sans-serif;
color: #2a2c39;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
padding-top: 80px;
}

.about .content h3 {
font-weight: 600;
font-size: 26px;
}

.about .content ul {
list-style: none;
padding: 0;
}

.about .content ul li {
padding-left: 28px;
position: relative;
}

.about .content ul li + li {
margin-top: 10px;
}

.about .content ul i {
position: absolute;
left: 0;
top: 2px;
font-size: 20px;
color: #C490E4;
line-height: 1;
}

.about .content p:last-child {
margin-bottom: 0;
}

.about .content .btn-learn-more {
font-family: "Raleway", sans-serif;
font-weight: 600;
font-size: 14px;
letter-spacing: 1px;
display: inline-block;
padding: 12px 32px;
border-radius: 5px;
transition: 0.3s;
line-height: 1;
color: #C490E4;
-webkit-animation-delay: 0.8s;
animation-delay: 0.8s;
margin-top: 6px;
border: 2px solid #C490E4;
}

.about .content .btn-learn-more:hover {
background: #C490E4;
color: #fff;
text-decoration: none;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
background: linear-gradient(0deg, white 0%, #F6C6EA 100%);
padding: 80px 0;
color: #6749b9;
}

.cta h3 {

font-size: 28px;
font-weight: 700;
color: #6749b9;
}

.cta p {

color: #6749b9;
}

.cta .cta-btn {
font-family: "Raleway", sans-serif;
text-transform: uppercase;
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
display: inline-block;
padding: 12px 30px;
border-radius: 50px;
transition: 0.5s;
margin: 10px;
color: #fff;
background: #C490E4;
}

.cta .cta-btn:hover {
background: #fff;
color: #C490E4;
}

@media (max-width: 1024px) {
.cta {
  background-attachment: scroll;
}
}

@media (min-width: 769px) {
.cta .cta-btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
}


/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq {
background-color: white;
padding: 60px 0;
}

.faq .faq-list {
padding: 0;
list-style: none;
}

.faq .faq-list li {
padding: 0 0 20px 25px;
}

.faq .faq-list a {
display: block;
position: relative;
font-family: #C490E4;
font-size: 18px;
font-weight: 500;
}

.faq .faq-list i {
font-size: 18px;
position: absolute;
left: -25px;
top: 6px;
}

.faq .faq-list p {
margin-bottom: 20px;
font-size: 15px;
}

.faq .faq-list a.collapse {
color: #C490E4;
}

/* .faq .faq-list a.collapsed {
color: black;
} */

.faq .faq-list a.collapsed:hover {
color: #C490E4;
}
.faq .faq-list a:hover {
color: #C490E4;
}

.faq .faq-list a.collapsed i::before {
content: "\eab2" !important;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
background: #3b2c44;
color: #fff;
font-size: 14px;
text-align: center;
padding: 30px 0;
}

#footer h3 {
font-size: 36px;
font-weight: 700;
color: #fff;
position: relative;
font-family: "Poppins", sans-serif;
padding: 0;
margin: 0 0 15px 0;
}

#footer p {
font-size: 15;
font-style: italic;
padding: 0;
margin: 0 0 40px 0;
}

#footer .social-links {
margin: 0 0 40px 0;
}

#footer .social-links a {
font-size: 18px;
display: inline-block;
background: #C490E4;
color: #fff;
line-height: 1;
padding: 8px 0;
margin-right: 4px;
border-radius: 50%;
text-align: center;
width: 36px;
height: 36px;
transition: 0.3s;
}

#footer .social-links a:hover {
background: #C490E4;
color: #fff;
text-decoration: none;
}

#footer .copyright {
margin: 0 0 5px 0;
}

#footer .credits {
font-size: 13px;
}
